<h1>マイページ</h1>

<p>メールアドレス: <%= @user.email %></p>

<% if user_signed_in? %>
  <input type="button" onclick="location.href='/users/edit'"value="編集"><br />
<% end %><br />
  <%= button_to "不正解問題一覧", review_user_path(@user.id) %><br />

  



<div class= "margin">
  <input type="button" onclick="location.href='/'"value="トップページ">
</div>