<h1>マイページ</h1>

<p>メールアドレス: <%= @user.email %></p>

<%= button_to "不正解問題一覧へ", review_user_path(@user.id) %>
<% if user_signed_in? %>
    <%= link_to "編集", edit_user_registration_path %> 
<% end %>
  



<div class= "margin">
  <a href="/" class="btn btn-default btn-sm" role="button">トップページへ</a>
</div>