@charset "utf-8";
@font-face {
  font-family:'IPAex Gothic';
  src: font-url('ipaexg.ttf');
}

html {
  position: relative;
  min-height: 100%;
  }
  
body {
    text-align: center;
    font-family: 'IPAex Gothic'
  }

 
  
  
  
  body{
    word-break : break-all;
  }
  
  table, td, th {
    border: 2px #0c0c0c0e solid;
    }
 
 
  body {
    margin: 0;
}

table {
  width: 100%;
}
