@charset "utf-8";
@font-face {
  font-family:'IPAex Gothic';
  src: font-url('ipaexg.ttf');
}

html {
  position: relative;
  min-height: 100%;
  }
  
body {
    text-align: center;
    font-family: 'IPAex Gothic'
  }

body{
  word-break : break-all;
  }

body {
  margin: 0;
}

table, td, th {
  border: 2px #0c0c0c0e solid;
  }

table {
  width: 100%;
}

table tr th:nth-child(1) {
  width:60px;
  text-align:center;
}

table tr th:nth-child(2) {
  width:100x;
  text-align:center;
}

table tr th:nth-child(3) {
  text-align:center;
}

table tr th:nth-child(4) {
  text-align:center;
}

table tr td {
  text-align:justify;
}